body {
    background-color: rgb(16, 23, 26);
}

#header .welcome {
    background-image: url(./images/head-img.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.welcome h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    color: rgb(228, 228, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
}

.welcome marquee {
    color: ivory;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    margin-left: 50px;
    font-size: 20px;
}

#side .media-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    color: white;
    list-style-type: none;
    line-height: 40px;
    padding-right: 40px;
    padding-top: 20px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    justify-content: right;
    z-index: 3;
}  

#side li a {
    color: white;
    font-size: 20px;
    padding-left: 1210px;
}

#banner .service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    color: blanchedalmond;
    margin-top: 150px;
    border-bottom: 1px solid rgb(0, 255, 213);
    border-top: 1px solid  rgb(0, 255, 213);;
    z-index: 1;
    font-weight: lighter;
    font-size: 25px;
}

#boxes {
    box-sizing: border-box;
    margin-top: 150px;
    height: 600px;
    margin-left: 60px;
} 

#boxes:after {
    content: "";
    display: table;
    clear: both;
}

#boxes .box-1 {
    background-image: url(./images/box-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    box-sizing: border-box;
    border-radius: 3px;
    height: 560px;
    float: left;
    margin: 10px;
}


#boxes .box-2 {
    background-image: url(./images/box-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width:  30%;
    height: 560px;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
    margin: 10px;
}


#boxes .box-3 {
    background-image: url(./images/box-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
    margin: 10px;
}

#boxes h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color:  rgb(0, 255, 213);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 85px;
    padding: 40px;
}

#boxes p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 40px;
}

#boxes .box-3 p{
    margin-top: 45px;
}

#clients .speech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    color: blanchedalmond;
    margin-top: 150px;
    border-bottom: 1px solid rgb(0, 255, 213);
    border-top: 1px solid  rgb(0, 255, 213);;
    z-index: 1;
    font-weight: lighter;
    font-size: 25px;
}

#testimonies {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 30px;
    height: 600px;
}

#testimonies:after {
    content: "";
    display: table;
    clear: both;
}

#testimonies .talk-1 {
    width: 30%;
    margin: 10px;
    float: left;
    margin: 10px;
}

#testimonies .talk-2 {
    width: 30%;
    margin: 10px;
    float: left;
    margin: 10px;
}

#testimonies .talk-3 {
    width: 30%;
    margin: 10px;
    float: left;
    margin: 10px;
}


#testimonies h2 {
    color:  rgb(0, 255, 213);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 85px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#testimonies p {
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 80px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#testimonies h3 {
    color:  rgb(0, 255, 213);
    font-family: fantasy;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style the video: 100% width and height to cover the entire window */
#background-video iframe {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 80px;
}
  
  /* Add some content at the bottom of the video/page */
#background-video .txt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: wheat;
    padding: 20px;
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 97%;
    height: 170px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer:after {
    content: "";
    display: table;
    clear: both;
}


#footer .name-1 {
    color:  rgb(0, 255, 213);
    padding-top: 10px;
    float: left;
    margin: 10px;
}

#footer .name-2 {
    border-top: 1px solid wheat; 
    color: whitesmoke;
    float: left;
    margin: 10px;
}

#footer .name-3 {
    border-top: 1px solid wheat; 
    color: whitesmoke;
    float: left;
    margin: 10px;
}

#footer .name-4 {
    border-top: 1px solid wheat; 
    color: whitesmoke;
    float: left;
    margin: 10px;
}

#footer .name-2 h3 {
    padding-top: 40px;
}

#footer .name-2 p {
    padding-top: 30px;
}

#footer .name-3 h3 {
    padding-top: 40px;
}

#footer .name-3 p {
    padding-top: 30px;
}

#footer .name-4 h3 {
    padding-top: 40px;
}

#footer .name-4 p {
    padding-top: 30px;
}

#footer .name-3 h4 {
    padding-top: 1px;
}

#footer-bottom .inventor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
    margin-top: 60px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

#footer-bottom .inventor a {
    text-decoration: none;
    color:rgb(0, 255, 213);
}

/* responsiveness */
@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    #boxes .box-1 {
        width: 100%;
    }

    #boxes .box-2 {
        width: 100%;
        margin-top: 55px;
    }

    #boxes .box-3 {
        width: 100%;
        margin-top: 55px;
    }

    #boxes {
        margin-left: 40px;
        width: 80%;
    }

    #clients .speech {
        margin-top: 1380px;
    }

    #testimonies .talk-1 {
        width: 100%;
        text-align: center;
    }

    #testimonies .talk-2 {
        width: 100%;
        margin-top: 55px;
    }

    #testimonies .talk-3 {
        width: 100%;
        margin-top: 55px;
    }

    #testimonies {
        margin-left: 40px;
        width: 80%;
    }
    
    #background-video .txt {
      font-size: 13px;
    } 
    
    #background-video iframe {
        margin-top: 95px;
    }

    #footer .name-1 {
        width: 100%;
        text-align: center;
    }

    #footer .name-2 {
        width: 100%;
        margin-top: 55px;
    }

    #footer .name-3 {
        width: 100%;
        margin-top: 55px;
    }

    #footer .name-4 {
        width: 100%;
        margin-top: 55px;
    }

    #footer {
        margin-left: 40px;
        width: 80%;
    }

    #footer-bottom .inventor {
        width: 80%;
        margin-left: 50px;
    }

}